.wrap {
  --nav-height: 30px;
  --name-width: 365px;
}

.navBar {
  @apply w-screen bg-primary-color flex justify-end items-center;
  height: var(--nav-height);
}

.navText {
  line-height: var(--nav-height);

  &:hover {
    @apply px-3;
  }
}

.navTextCurrent + a {
  @apply ml-3;
}

.navTextOther {
  &:not(:last-of-type) {
    @apply mr-3;

    &:hover {
      @apply mr-0 ml-0;

      + .navText {
        @apply ml-3;
      }

      + .navText.navTextCurrent {
        @apply ml-0;
      }
    }
  }
}

.close {
  &Block {
    width: var(--nav-height);
    height: var(--nav-height);
  }

  &Line {
    width: 20px;
    background-color: #666;
  }
}

.name {
  width: var(--name-width);
}

.main {
  width: 100vw;
  min-height: 100vh;
  margin-top: var(--nav-height);
}

@screen lg {
  .navBar {
    width: calc(100vw - var(--name-width));
  }

  .main {
    width: calc(100vw - var(--name-width));
  }
}
