.text {
  font-size: 46px;
  text-shadow: 3px 3px 2px rgb(0 0 0 / 25%);

  &Sub {
    font-size: 28px;
  }
}

.linkList {
  &::before {
    margin-bottom: .3em;
    content: '';
    @apply w-2 h-px bg-white inline-block mr-2;
  }
}
