.name {
  &__block {
    position: absolute;
    top: 50%;
    left: -200px;
    z-index: 1;
    width: 700px;
    height: 700px;
    border: 1px solid rgb(255 255 255 / 40%);
    transition: all .5s;
    transform: translateY(-50%) rotate(-34deg);
  }

  &__container {
    position: relative;
    top: 50%;
    left: 50%;
    padding-left: 240px;
    transform: translate(-50%) rotate(34deg);
  }
}

.about {
  &__block {
    position: absolute;
    top: 335px;
    left: 753px;
    z-index: 99;
    width: 430px;
    height: 300px;
    border: 1px solid rgb(255 255 255 / 40%);
    transition: all .5s;
    transform: rotate(-34deg);
  }

  &__container {
    display: table-cell;
    padding-left: 50px;
    vertical-align: middle;
    transform: rotate(34deg);
  }
}

.blog {
  &__block {
    position: absolute;
    top: 335px;
    left: 753px;
    z-index: 1;
    width: 430px;
    height: 300px;
    border: 1px solid rgb(255 255 255 / 40%);
    transition: all .5s;
    transform: rotate(-34deg);
  }

  &__container {
    display: table-cell;
    padding-left: 50px;
    vertical-align: middle;
    transform: rotate(34deg);
  }
}
