.name_block,
.contents {
  --name-width: 700px;
}

@layer components {
  .home_block {
    @apply absolute z-10 border border-solid border-white border-opacity-40 transition-all duration-500 transform -translate-y-1/2 text-white;

    --tw-rotate: -34deg;
  }
}

@layer components {
  .home_container {
    @apply relative top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;

    --tw-rotate: 34deg;
  }
}

@layer components {
  .content_block {
    width: 330px;
    height: 400px;
  }
}

.name {
  &_block {
    width: var(--name-width);
    max-width: 700px;
    height: 700px;

    --tw-translate-x: calc(-1 * var(--name-width));
  }

  &_container {
    padding-left: 240px;
  }
}

.about {
  &_block {
    top: 25vh;
    left: -4.3vw;
  }

  &_container {
    padding-left: 50px;
  }
}

.blog {
  &_block {
    top: 61vh;
    left: 14vw;
  }
}
